@import "navbar";
@import "mobile";
@import "homeSection";
@import "aboutSection";
@import "projectSection";
@import "contactSection";

*{
    outline: none;
}

body{
    font-family: 'Poppins';
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: default;
}

section{
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}

.mainContainer{
    width: 100%;
    height: 100%;

    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

@include mobile;
@include navBar;
@include homeSection;
@include aboutSection;
@include projectSection;
@include contactSection;